{% extends 'base.html.twig' %}
{% block addstylesheet %}
<link href="assets/css/users/login-1.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}


    <div class="form-login">
        <a href="{{path('main')}}">Retour à l'accueil</a>
        <div class="row">
            <div class="col-md-12 text-center mb-4">
               <h2>Domaine Manager <br /> Login</h2> 
            </div>
            <form action="{{ path('security_login') }}" method="POST">
                <div class="col-md-12">
                    <label for="inputEmail" class="">Email</label>
                    <input type="text" id="inputEmail" class="form-control mb-4" placeholder="Email" required name="_username">
                    <label for="inputPassword" class="">Password</label>
                    <input type="password" id="inputPassword" class="form-control mb-5" placeholder="Password" required name="_password">
                    <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-4 mt-5" type="submit">Login</button>
                    <a href="{{ path('security_register')}}" class="btn btn-lg btn-outline-dark btn-block btn-rounded mb-3">Inscription</a>
                </div>
            </form>
            
    
        </div>
    </div>


{% endblock %}
