{% extends 'base.html.twig' %}

{% block addstylesheet %}
<link href="assets/css/users/register-1.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<body class="register">
        <form class="form-register">
            <a href="{{path('main')}}">Retour à l'accueil</a>
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                   <h2>Domaine Manager <br /> Inscription utilisateur</h2> 
                </div>
                <div class="col-md-12">
                    <label for="full-name" class="">Nom </label>                
                    <input type="text" id="full-name" class="form-control mb-4" placeholder="Full Name" required="">
                    <label for="inputEmail" class="">Email</label>
                    <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Email" required="">
                    <label for="inputPassword" class="">Password</label>
                    <input type="password" id="inputPassword" class="form-control mb-5" placeholder="Password" required="">
                    <label for="inputRepeatPassword" class="">Repeter mot de passe</label>
                    <input type="password" id="inputRepeatPassword" class="form-control mb-5" placeholder="Repeat Password" required="">
                                
                    <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-4 mt-5" type="submit">Inscription</button>
                    <a href="{{ path('security_login')}}" class="btn btn-lg btn-outline-dark btn-block btn-rounded mb-3">Login</a>
                </div>
            </div>
        </form>
    </body>
{% endblock %}
