{% extends 'baseAdmin.html.twig' %}

{% block title %}Nom de domaine{% endblock %}



{% block body %}
    <!-- Tab Mobile View Header -->

    <div class="widget-content widget-content-area">
        <h1>Creation du nom de domaine </h1>
        {{form_start(formDomainName) }}
        <div class="form-group">
            {{ form_row(formDomainName.name,{'label':'Nom de domaine', 'attr':{'class':'form-control'}})}}
        </div>
        <button type="submit" class="mb-4 btn btn-button-7">
            {% if editMode %}
                Enregistrer
            {% else %}
                Ajouter le nom de domaine
            {% endif %}
        </button>
        {{form_end(formDomainName) }}
    </div>



{% endblock %}
