{% extends 'baseAdmin.html.twig' %}

{% block title %}Nom de domaine{% endblock %}



{% block body %}
    <!-- Tab Mobile View Header -->

    <div class="widget-content widget-content-area">
    </div>

    {% endblock %}